.title {
  font-size: 3em;
  font-weight: bolder;
}

.sub-title {
  margin-top: 15pt;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20pt 0;
}

.image {
  margin: 20pt 0;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected-container {
  align-self: start;
  margin-bottom: 20pt;
}

.rejected-container {
  align-self: start;
}

.text-center {
  text-align: center;
}

.add {
  cursor: pointer;
}

.remove {
  cursor: pointer;
}

.links-title {
  font-size: 1.25 em;
  font-weight: 500;
}
